<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tfg2016.gymapp_tfg"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".model.EnableDatastore"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controller.Login"
            android:label="Login to your Account"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
            <!--  (intent-filter)Per indicar que és la primera activitat en inciar-se -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--  Entry for Register.class -->
        <activity android:name=".controller.Register"
            android:label="Register New Account"
            android:windowSoftInputMode="stateHidden"></activity>

        <!--  Entry for NoInternetConnection.class -->
        <activity android:name=".controller.NoInternetConnection"
            android:label="No internet connection"></activity>

        <!--  Entry for ClientDashboard -->
        <activity android:name=".controller.ClientDashboard"
            android:label="Client Dashboard"></activity>

        <!--  Entry for EntrenadorDashboard -->
        <activity android:name=".controller.EntrenadorDashboard"
            android:label="Entrenador Dashboard"></activity>

        <!--  Entry for SuperAdminDashboard -->
        <activity android:name=".controller.SuperAdminDashboard"
            android:label="SuperAdmin Dashboard"></activity>

        <!--  Entry for ClientViewFromEntrenador -->
        <activity android:name=".controller.ClientViewFromEntrenador"
            android:label="ClientActivityFromEntrenador"></activity>

        <!--  Entry for AddClient -->
        <activity android:name=".controller.AddClient"
            android:label="Add Client"
            android:windowSoftInputMode="stateHidden"></activity>

        <!--  Entry for PerfilClientFromEntrenador -->
        <activity android:name=".controller.PerfilClientFromEntrenador"
            android:label="Perfil del client"></activity>

        <!--  Entry for PerfilClient -->
        <activity android:name=".controller.PerfilClient"
            android:label="Perfil del client"></activity>

        <!--  Entry for TaskViewFromEntrenador -->
        <activity android:name=".controller.TaskViewFromEntrenador"
            android:label="Descripció de la tasca"></activity>

        <!--  Entry for AddTask -->
        <activity android:name=".controller.AddTask"
            android:label="Add Task"
            android:windowSoftInputMode="stateHidden"></activity>

        <!--  Entry for TaskViewFromClient -->
        <activity android:name=".controller.TaskViewFromClient"
            android:label="Task"></activity>

        <!--  Entry for AddEntrenador -->
        <activity android:name=".controller.AddEntrenador"
            android:label="Add Entrenador"></activity>

    </application>
</manifest>